body{

background:#080808;

color:white;

font-family:Arial;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}


.container{


background:rgba(255,255,255,0.1);

padding:40px;

border-radius:25px;

width:500px;

text-align:center;

backdrop-filter:blur(15px);


box-shadow:
0 0 30px cyan;


}


button{


padding:15px 30px;

border:none;

border-radius:15px;

background:#00ffff;

cursor:pointer;

font-size:16px;


}


h1{

font-size:40px;

}

.emotion{

margin:15px 0;

}


.bar{

height:25px;

background:#222;

border-radius:20px;

overflow:hidden;

}


.fill{

height:100%;

border-radius:20px;

text-align:right;

padding-right:10px;

font-size:14px;

animation:load 1s ease;

}


.happy{

background:#00ff88;

}


.sad{

background:#3498db;

}


.angry{

background:#ff3333;

}


.fear{

background:#9b59b6;

}


.surprise{

background:#f39c12;

}


.neutral{

background:#95a5a6;

}


.disgust{

background:#2ecc71;

}



@keyframes load{

from{

width:0;

}


}